* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
  font-family: Arial, sans-serif;
}

.App {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  font-size: 2rem;
  color: white;
}

.section1 {
  background-image: url('../../public/static/img/casa_pricipio_movil.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  overflow: hidden; /* Asegúrate de que los hijos no se vean fuera de la sección */
}

.section1::before {
  content: "";
  position: absolute; /* Cambia a absolute para que quede fijo solo dentro de la sección */
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background: linear-gradient(
      to bottom,
      rgba(33, 33, 33, 0.7),
      rgba(33, 33, 33, 0.5) 40%,
      rgba(33, 33, 33, 0.3) 60%,
      rgba(33, 33, 33, 0.1) 80%,
      rgba(33, 33, 33, 0) 100%
    );
  z-index: 1;
}

.section1 .title {
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 .title h1 {
  position: absolute; /* Fijo solo dentro de la sección */
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
}

.section2 {
  background-color: #2ecc71;
}

.section3 {
  background-color: #e74c3c;
}

.section4 {
  background-color: #f39c12;
}

.section5 {
  background-color: #9b59b6;
}
