* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
  font-family: Arial, sans-serif;
}

.App {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  font-size: 2rem;
  color: white;
}

.section1 {
  background-color: #3498db;
}

.section2 {
  background-color: #2ecc71;
}

.section3 {
  background-color: #e74c3c;
}

.section4 {
  background-color: #f39c12;
}

.section5 {
  background-color: #9b59b6;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000; /* Asegúrate de que la navbar esté encima del contenido */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
