
.description-container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: hidden;
}

.description-container-info{
    /* border: 1px solid red; */
    width: 59.9%;
    height: 100%;
    padding: 3%;
    
}
.description-container-info h2{
    font-size: 30px;
    margin-bottom: 1%;
}
.description-container-info p{
    font-size: 20px;
    
}
.house-image{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    height: 55%;
    position: relative;
}
.house-image img{
    width: 75%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 15%;
    
}
.other-house-image{
    /* border: 1px solid red; */
    display: flex;
    position: absolute;
    width: 75%;
    height: 15%;
    bottom: 0;
}
.other-image-container{
    /* border: 1px solid rgb(0, 68, 255); */
    width: 15%;
    height: 100%;
    overflow: hidden;
    padding: 5px;
}
.other-image-container img{
    /* border: 1px solid rgb(21, 255, 0); */
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    cursor: pointer;
}
.house-details{
    /* border: 1px solid rgb(72, 255, 0); */
    width: 100%;
    height: 15%;
    padding: 2%;
    padding-top: 4%;
}
.house-details p{
    padding: calc(2% - 30px) 2%;
}
.house-features{
    /* border: 1px solid rgb(0, 38, 255); */
    width: 100%;
    height: 35%;
    padding: 2%;
}
.house-features-container{
    /* border: 1px solid rgb(12, 206, 255); */
    overflow: hidden;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    padding: calc(2% - 30px) 2%;
}
.house-features-container p{
    margin-bottom: 30px;
}
.house-features-container h4{
    margin-bottom: 5px;
    font-size: 20px;
}
.ref-id-feature{
    display: flex;
    align-items: end;
}
.copy-id-p{
    margin-left: 10px;
    cursor: pointer;
}
.space-bar{
    height: 90%;
    width: 0.1%;
    background-color: black;
    align-self: center;
}
.description-container-contact{
    /* border: 1px solid rgb(3, 39, 240); */
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.description-container-contact h2{
    text-align: center;
    margin-bottom: 3%;
    font-size: 30px;
}
.description-container-contact p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 2%;
}
.section-contact{
    width: 100%;
    height: 44%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.space-o{
    width: 100%;
    height: 1%;
}
.section-meeting{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.request-visit{
    margin-top: 1%;
}
.request-visit button{
    outline: none;
    background-color: white;
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}
.request-visit button:hover{
    background-color: rgb(252, 252, 252);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.request-visit{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.request-visit input{
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 20px;
}


@media(max-width : 738px) {

    .description-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .nav-color-stage h1,
    .nav-color-stage .mobile-menu-icon{
        color: #4E6682;

    }

    .description-container-info{
        /* border: 1px solid red; */
        width: 100%;
        height: 100%;
        padding: 3%;
        margin-top: 15vh;
        
    }
    .description-container-info h2{
        font-size: 22px;
        margin-bottom: 1%;
    }
    .description-container-info p{
        font-size: 16px;
        
    }
    .house-image{
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid rgb(47, 0, 255); */
        width: 100%;
        height: 35vh;
        margin-bottom: 2%;
    }
    .house-image img{
        width: 90%;
        height: 80%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* border: 1px solid rgb(115, 255, 0); */
    }
    .other-house-image{
        /* border: 1px solid red; */
        display: flex;
        position: absolute;
        width: 90%;
        height: 20%;
        bottom: 0;
    }
    .other-image-container{
        /* border: 1px solid rgb(0, 68, 255); */
        width: 20%;
        height: 100%;
        overflow: hidden;
        padding: 1px;
    }
    .other-image-container img{
        /* border: 1px solid rgb(21, 255, 0); */
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.7;
        cursor: pointer;
    }

    .house-details{
        /* border: 1px solid rgb(72, 255, 0); */
        width: 100%;
        height: auto;
        min-height: 15vh;
        max-height: 25vh;
        padding: 2%;
        padding-top: 4%;
    }
    .house-details p{
        padding: calc(2% - 30px) 2%;
        margin-top: 5px;
    }

    .house-features{
        /* border: 1px solid rgb(0, 38, 255); */
        width: 100%;
        height: 35%;
        padding: 2%;
    }
    .house-features-container{
        /* border: 1px solid rgb(12, 206, 255); */
        overflow: hidden;
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: center;
        margin-top: 10px;
        padding: calc(2% - 30px) 2%;
    }
    .house-features-container p{
        margin-bottom: 22px;
    }
    .house-features-container h4{
        margin-bottom: 5px;
        font-size: 18px;
    }
    .ref-id-feature{
        display: flex;
        align-items: end;
    }
    .copy-id-p{
        margin-left: 10px;
        cursor: pointer;
    }
    .space-bar{
        height: 0.1vh;
        width: 85%;
        background-color: black;
        align-self: center;
        margin-bottom: 5%;
    }
    .description-container-contact{
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .description-container-contact h2{
        text-align: center;
        margin-bottom: 3%;
        font-size: 22px;
    }
    .description-container-contact p{
        text-align: center;
        font-size: 16px;
        margin-bottom: 2%;
    }
    .section-contact{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .space-o{
        width: 100%;
        height: 1vh;
    }
    .section-meeting{
        width: 100%;
        height: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .request-visit{
        margin-top: 1%;
        /* border: 1px solid palevioletred; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .request-visit button{
        outline: none;
        background-color: white;
        padding: 8px 16px;
        border-radius: 30px;
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        font-size: 16px;
        margin-top: 15px;
    }
    .request-visit button:hover{
        background-color: rgb(252, 252, 252);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    .request-visit{
        width: 60%;
        display: flex;
        justify-content: space-around;
    }
    .request-visit input{
        outline: none;
        background-color: transparent;
        border: none;
        width: 60%;
        font-size: 16px;
    }

}