.favourites {
  width: 100%;
  height: 100%;
}

.title-favourites {
  position: relative;
  text-align: center;
  justify-content: center;
  margin: 10px;
  top: 6%;
}

.title-favourites h2{
  color: #4E6682;
  font-family: 'Piazzolla';
  font-size: 40px;
  margin-bottom: 100px;
}

.house-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.house-cards {
  display: flex;
  width: 100%;
  justify-content: center;
  
}

.house-cards .card-image{
  height: 400px;
}
.carrousel2 .card-image{
  height: 350px;
  width: 560px;
}

.house-cards .card{
  margin: 15px;
  max-width: 560px;
}

.back-arrow {
  font-size: 40px; /* Tamaño ajustable */
  color: #333; /* Color de la flecha */
  cursor: pointer; /* Indicar interactividad */
}

.back-link {
  display: flex;
  align-items: center;
  gap: 5px; /* Separación entre flecha y texto */
  text-decoration: none;
  bottom: 1px;
}


@media (max-width: 768px) {

  .nav-color-stage h1,
  .nav-color-stage .mobile-menu-icon{
      color: #4E6682;

  }
  .title-favourites {
    top: 11%;
  }
  .title-favourites h2{
    font-size: 30px;
    margin-bottom: 75px;
  }
  .favourites-list {
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    margin-top: 15%;
  }
  .house-cards {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .house-cards .card{
    height: 310px;
  }
  .carrousel2 .carousel-item .card{
    max-width: 370px;
    max-height: 300px;
    height: 310px;
  }
  .carousel-item .card-image{
    height: auto;
    width: auto;
  }
  .back-arrow {
    font-size: 30px;
  }
  .back-link{
    margin-top: 2px;
  }
  

}