.favourites {
  width: 100%;
  height: 100%;
}

.title-favoutites {
  position: relative;
  text-align: center;
  margin: 20px;
  top: 4%;
}

.title-favoutites h2{
  color: #4E6682;
  font-family: 'Piazzolla';
  font-size: 40px;


}



@media (max-width: 768px) {
  
  .favourites-list {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    margin-top: 15%;
  }
}