/* src/styles/HouseCard.css */

.card {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

  
.card-image {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-info {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 12px;
    margin-right: 12px;
    
}

.card-info h2 {
    font-size: 1.2rem;
    margin-bottom: 8px;
    line-height: 1.2;
    white-space: normal;
    text-overflow: ellipsis;
    color: #555;
}

.card-info .property-description {
    font-size: 0.9rem;
    margin-bottom: 8px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.card-info .property-location {
    font-size: 1rem;
    margin-bottom: 8px;
    color: #666;
    white-space: normal;
}

.card-info p {
    margin: 2px 0;
    color: #555;
}

.property-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
    color: #555
}

.property-details {
    display: flex;
    gap: 16px;
    align-items: center;
}

.property-details span {
    display: flex;
    align-items: center;
    gap: 4px;
}

.property-price {
    font-size: 1.2rem;
    text-align: right;
    white-space: nowrap;
}

.favorite-icon {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

/* Animación del latido */
.heartbeat {
    animation: heartbeat 0.5s ease-in-out;
    height: 30px;
    width: auto;
}
.heart {
    height: 30px;
    width: auto;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
    60% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}


@media (max-width : 738px) {

    .card-image {
        background-image: cover;
        background-position: center;
    }

    .card-info {
        margin-left: 8px;
        margin-right: 8px;
        padding: 1px;

    }

    .card-info h2 {
        font-size: 1.1rem; 
        margin-bottom: 5px;
        color: #555;
    }
    .card-info .property-description {
        font-size: 0.9rem; 
        width: 100%;
        height: 35%;
        margin-bottom: 2px;

        overflow: hidden;

    }
    .card-info .property-location {
        font-size: 0.9rem;
        height: auto;
        
    }

    .property-details-container {
        gap: 12px; 
    }

    .property-details {
        gap: 35px;

        font-size: 1.08rem
    }

    .property-price {
        font-size: 1.08rem; 
    }


}


