.text{
  flex-direction: column;
  justify-content: flex-start;
}
.title-text{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 14%;
}
.title-text .eslogan-h2{
  font-size: 24px;
  margin: 0;
  font-family: "Piazzolla", serif;
  color: rgb(0, 0, 0);
  width: 100%;
  margin-bottom: 0.5%;
}
.title-text p{  
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-family: "Piazzolla", serif;
  width: 46%;
}

.filter{
  position: absolute;
  top: 20%;
  left: 87%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  cursor: pointer;
}
.search-icon-x{
  position: absolute;
  top: 15%;
  left: 83%;
  cursor: pointer;
}
  
.search-icon-x svg{
  position: absolute;
  stroke:#7189A2;
  
}
.filter-window {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -20%);
  background: white;
  width: 50%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.filter-group {
  display: flex;
  flex-direction: column;
  margin: 5%;
} 
.section2{
  /* border: 1px solid darkmagenta; */
  height: auto !important;
  justify-content: start;
  flex-direction: column;
  flex: 1;
  margin-bottom: 0;
}

.section2 .buttons{
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin-bottom: 5%;
}

.section2 .buttonFilter {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 12px 25px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0); 
  text-align: center; 
  font-size: 11px; 
  cursor: pointer; 
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.section2 .buttonFilter.active{
  background-color: #4E6682;
  color: white; 
}
.global-conyainer-cards-1{
  /* display: contents;    se corta en mobile con el flex */   
  width: 90%;
  /* border: 1px solid rgb(85, 255, 0); */
  height: auto !important ;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.container-card { 
  width: 600px;
  height: 350px;
  margin: 10% 0% 0% 0%;
}


.footer{
  margin-top: 7%;
}


@media(max-width : 738px) {

  .text{
    position: relative;
    justify-content: start;
    flex-direction: column;
  }
  
  .title-text{
    margin-bottom: 70%;
    width: 100%;
    margin-left: 10%;
    margin-top: 38%;
    display: block;
    text-align: start;
    max-height: 140px;
    
  }
  
  .title-text .eslogan-h2{
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
    font-family: "Piazzolla", serif;
    color: black;
    width: 80%;
  }
  .title-text p{
    font-size: 16px;
    color: black;
    font-family: "Piazzolla", serif;
    width: 87%;
  }
  .filter-container-houseflat{
    background-color: #FFFCF6;
    position: absolute;
    bottom: 14%;
    width: 100px;
    height: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 7;
  }
  .filter{
    position: unset; 
    top: 0; 
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    cursor: pointer;
  }
  .search-icon-x{
    position: absolute;
    top: 15%;
    left: 79%;
  }
  .search-icon-x svg{
    position: absolute;
    stroke:#7189A2;
    
  }
  .filter-window {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: white;
    width: 90%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  .filter-group {
    display: flex;
    flex-direction: column;
    margin: 5%;
  }
  
  .section2{
    height: auto;
    justify-content: start;
    flex: 1;
    overflow: hidden;
  }
  .section2 .buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 15%;
    margin-top: 2%;
  }
  .section2 .buttonFilter {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 9px 18px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0); 
    text-align: center; 
    font-size: 11px; 
    cursor: pointer; 
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  .section2 .buttonFilter.active{
    background-color: #4E6682;
    color: white; 
  }
  
  .global-conyainer-cards-1{
    display: contents;
  }
  .container-card-global {
    margin-bottom: 20%; 
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #4E6682;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .pagination-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  footer {
    position: relative;
    bottom: 10%;
    z-index: 4;
    margin-top: 0;
  
  }
  

}
